* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, sans-serif;
}

H1 {
    font-size: 2rem;
}

.animal {
    width: 45%;
}

a:hover {
    color: #3b5998;
}

.fix-me {
	position: fixed;
	top: 0px;
	right: 0px;
	text-decoration: none;
	font-size: 	50px;
}

.button {
	color: #3b5998;
	padding: 0px 11px;
	border: none;
}